/node_modules
/public/build
/public/assets
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/.idea

# ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore Mac DS_Store files
.DS_Store

# Test coverage
/coverage
/.phpunit.cache
.pest

# VSCode
.vscode
*.code-workspace